.main-container {
    /* align-items: center; */
    /* justify-content: space-between; */
    /* justify-content: center; */
    border: 2px solid white;
    border-radius: 10px;
    width: 70%;
    position: relative;
}

@media (max-width: 767px) {
    .main-container {
        width: 100%; /* Change width to 90% on small screens */
    }
}

.movie-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.overlay {
    position: absolute;
    top: 10px;
    left: 10px;
}

.main-container hr {
    border: 1px solid white;
    opacity: 1;
    width: 100%;
    margin-top: 6px;
}

.details-table td {
    /* font-size: 18px; */
    font-weight: 500;
}

.details-table > tbody > tr {
    border: 2px solid white;
}

.users-who-liked-container {
    display: flex;

    flex-wrap: wrap;
}
