.movie-card-container:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.movie-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.show-row {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.show-row::-webkit-scrollbar {
    display: none;
}

.title-sec {
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 0;
}
