.nav-container {
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}
.nav-title {
    font-family: "Sriracha";
    font-weight: 600;
    color: rgb(0, 255, 187);
}
.nav-options {
    display: flex;
    justify-content: space-between;
}
.nav-options > a {
    margin: 5px;
}

.search-box {
    flex-basis: 40%;
    margin-left: 20px;
    margin-right: 20px;
}

.search-box-small {
    flex-grow: 1;
    margin-left: 20px;
    margin-right: 20px;
}

.small-nav-container {
    flex-direction: column;
    align-items: center;
    background-color: #000000;
}
